<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 270:</strong>
    <%= book.mahs_270 %>
  </p>

  <p>
    <strong>Hoten 270:</strong>
    <%= book.hoten_270 %>
  </p>

  <p>
    <strong>Lop 270:</strong>
    <%= book.lop_270 %>
  </p>

  <p>
    <strong>Masach 270:</strong>
    <%= book.masach_270 %>
  </p>

  <p>
    <strong>Tensach 270:</strong>
    <%= book.tensach_270 %>
  </p>

  <p>
    <strong>Tentacgia 270:</strong>
    <%= book.tentacgia_270 %>
  </p>

  <p>
    <strong>Sobm 270:</strong>
    <%= book.soBM_270 %>
  </p>

  <p>
    <strong>Ngaymuon 270:</strong>
    <%= book.ngaymuon_270 %>
  </p>

  <p>
    <strong>Ngaytra 270:</strong>
    <%= book.ngaytra_270 %>
  </p>

  <p>
    <strong>Ghichu 270:</strong>
    <%= book.ghichu_270 %>
  </p>

</div>
